{<<"name">>,<<"riak_dt">>}.
{<<"version">>,<<"2.1.1">>}.
{<<"app">>,<<"riak_dt">>}.
{<<"maintainers">>,[<<"Basho">>,<<"Heinz N. Gies">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"riak CTDT datatypes">>}.
{<<"files">>,
 [{<<"src/riak_dt.app.src">>,
   <<"{application,riak_dt,\n             [{description,\"riak CTDT datatypes\"},\n              {vsn,\"2.1.1\"},\n              {registered,[]},\n              {applications,[kernel,stdlib]},\n              {env,[{binary_compression,1}]},\n              {maintainers,[\"Basho\",\"Heinz N. Gies\"]},\n              {licenses,[\"Apache\"]},\n              {links,[{\"Github\",\"https://github.com/basho/riak_dt\"}]}]}.\n">>},
  <<"src/riak_dt.erl">>,<<"src/riak_dt_disable_flag.erl">>,
  <<"src/riak_dt_emcntr.erl">>,<<"src/riak_dt_enable_flag.erl">>,
  <<"src/riak_dt_gcounter.erl">>,<<"src/riak_dt_gset.erl">>,
  <<"src/riak_dt_lwwreg.erl">>,<<"src/riak_dt_map.erl">>,
  <<"src/riak_dt_od_flag.erl">>,<<"src/riak_dt_oe_flag.erl">>,
  <<"src/riak_dt_orset.erl">>,<<"src/riak_dt_orswot.erl">>,
  <<"src/riak_dt_pncounter.erl">>,<<"src/riak_dt_vclock.erl">>,
  <<"include/riak_dt.hrl">>,<<"include/riak_dt_tags.hrl">>,<<"rebar.config">>,
  <<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"Apache">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/basho/riak_dt">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
