{<<"name">>,<<"syslog">>}.
{<<"version">>,<<"1.1.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"syslog">>}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Syslog for erlang">>}.
{<<"files">>,
 [<<"src/syslog.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"c_src/syslog_drv.c">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/syslog.erl">>,<<"src/syslog_app.erl">>,<<"src/syslog_sup.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/Vagabond/erlang-syslog">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
